.controls{
    position: relative;
}
.controls .container{
    position: relative;
    text-align: left;
    overflow: auto;
    padding: 2px;
}
.controls .spacer{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    box-shadow: inset 0px 0px 15px rgba(0,0,0,0.5);
    text-align: center;
}
.controls .buttons{
    font-size: 13px;
    font-weight: 700;
    float: left;
}
.controls .button{
    display: inline-block;
    text-align: center;
}
.controls .button + .button{
    margin-left: 15px;
}
.controls .buttons button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 5px black;
    background: rgb(155,0,0);
    margin-bottom: 5px;
}
.controls .buttons button:active{
    box-shadow: inset 0px 0px 10px black;
}



.controls .arrows{
    margin: 15px;
    float: right;
}
.controls .arrows .left-right{
    display: flex;
}
.controls .arrows button{
    width: 30px;
    height: 40px;
    font-size: 20px;
    border: none;

    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    padding: 0 10px;
    color: #ffffff;
    background-color: black;
    position: relative;
    display: inline-block;
}
.controls .arrows button:active{
    background-color:rgb(155,0,0);
}

/*Arrow Right*/
.controls .arrows .arrow-right:after{
    position: absolute;
    right: -14px;
    top: 0;
    content: " ";
    border-style: solid;
    border-width: 20px 0 20px 15px;
    border-color: transparent transparent transparent black;
}
.controls .arrows .arrow-right:active:after{
    border-color: transparent transparent transparent rgb(155,0,0);
}

/*Arrow Left*/
.controls .arrows .arrow-left:before{
    position: absolute;
    left: -14px;
    top: 0;
    content: " ";
    border-style: solid;
    border-width: 20px 0 20px 15px;
    border-color: transparent transparent transparent black;
    transform: rotate(-180deg);
}
.controls .arrows .arrow-left:active:before{
    border-color: transparent transparent transparent rgb(155,0,0);
}

/*Arrow Up*/
.controls .arrows .arrow-up{
    width: 40px;
    height: 30px;
}
.controls .arrows .arrow-up:before{
    position: absolute;
    top: -26.5px;
    left: 13px;
    content: " ";
    border-style: solid;
    border-width: 20px 0 20px 15px;
    border-color: transparent transparent transparent black;
    transform: rotate(-90deg);
}
.controls .arrows .arrow-up:active:before{
    border-color: transparent transparent transparent rgb(155,0,0);
}

/*Arrow Down*/
.controls .arrows .arrow-down{
    width: 40px;
    height: 30px;
}
.controls .arrows .arrow-down:after{
    position: absolute;
    bottom: -26.5px;
    left: 13px;
    content: " ";
    border-style: solid;
    border-width: 20px 0 20px 15px;
    border-color: transparent transparent transparent black;
    transform: rotate(90deg);
}
.controls .arrows .arrow-down:active:after{
    border-color: transparent transparent transparent rgb(155,0,0);
}

/*mini arrows*/
i{
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    position: absolute;
}
.spacer .up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 7px;
    left: 43%;
}
.spacer .down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 7px;
    left: 43%;
}
.spacer .left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 7px;
    top: 43%;
}
.spacer .right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 7px;
    top: 43%;
}