.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container{
  max-width: 342px;
  padding: 20px;
  padding-top: 30px;
  margin-top: 20px;
  background: rgb(255,190,0);
  border: 5px solid rgb(240,174,0);
  border-radius: 10px;
}

.reactris-container{
  margin-left: 35px;
  margin-right: 35px;
}

.screen{
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 250px;
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px;
  background: #9ead86;
  border: 5px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: #987f0f rgb(255,210,0) rgb(255,205,0) #987f0f;
}
.table{
  padding: 0;
  border-bottom: 5px solid black;
}
.row{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.col{
  width: 1.5vh;
  height: 1.5vh;
  padding: 0.3vh;
  margin: 0;
  border: 2px solid #879372;
}
.col::after{
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: #8E9A79;
  overflow: hidden;
}
.filled{
  border-color: black;
}
.filled::after{
  background: black;
}
.empty{
  border-color: #879372;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(max-width: 768px){
  .main-container{
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .reactris-container{
    
  }
}
